/* #canvas {
  background-image: url (.img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

/* body {
  background-image: url("https://miro.medium.com/max/3150/2*6Alh1C-htd98tFMQNGz6cg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
} */

h1 {
  font-weight: bold;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: darkblue;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

p {
  font-size: 1rem;
  line-height: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

ul {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

section {
  margin: 20px 20px;
  padding: 20px 30px;
  width: 40vw;
}

.section_bg {
  background-color: rgba(255, 255, 255, 0.899);
}

#title-footer {
  text-align: center;
}

header#profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-image: url(./img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section#icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#my-profile-pic {
  width: 15vw;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

#main-section {
  display: flex;
}

#canvas {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.fa-folder-open {
  font-size: 2rem;
  color: darkblue;
}

.fa-medium-m {
  font-size: 2rem;
  color: darkblue;
}

.fa-linkedin-in {
  font-size: 2rem;
  color: darkblue;
}

.fa-link {
  font-size: 2rem;
  color: darkblue;
}
